# Supabase Configuration
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=https://v0.app/chat/api/supabase/redirect/kMTZQZvpLiO
SUPABASE_URL=https://xpklpweyvwviuiqzjgwe.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://xpklpweyvwviuiqzjgwe.supabase.co
SUPABASE_JWT_SECRET=IE7RihrX28Fx8pBxe9bwp9/LRpbTZDzHR2r7s6bTBnzusP7vuJF7Qo8ZP2ovbny4xHByRf0G3Gc6CpciPmNBkw==
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwa2xwd2V5dnd2aXVpcXpqZ3dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1NjUxNzksImV4cCI6MjA3MTE0MTE3OX0.nFv0uVijjsjjylwmoZePzFY0Mtqea9rb8Gal_AS9Q9M
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwa2xwd2V5dnd2aXVpcXpqZ3dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1NjUxNzksImV4cCI6MjA3MTE0MTE3OX0.nFv0uVijjsjjylwmoZePzFY0Mtqea9rb8Gal_AS9Q9M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwa2xwd2V5dnd2aXVpcXpqZ3dlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU2NTE3OSwiZXhwIjoyMDcxMTQxMTc5fQ.7adnyvvwEWyAzYXHWyF7n9SEfdTrxZHcKlSKTJ7gQaQ

# PostgreSQL Configuration
POSTGRES_URL=postgres://postgres.xpklpweyvwviuiqzjgwe:IeXgFWnxr8c06J9M@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_PRISMA_URL=postgres://postgres.xpklpweyvwviuiqzjgwe:IeXgFWnxr8c06J9M@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true
POSTGRES_URL_NON_POOLING=postgres://postgres.xpklpweyvwviuiqzjgwe:IeXgFWnxr8c06J9M@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_USER=postgres
POSTGRES_PASSWORD=IeXgFWnxr8c06J9M
POSTGRES_DATABASE=postgres
POSTGRES_HOST=db.xpklpweyvwviuiqzjgwe.supabase.co 